@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* Nav Bar */

.menuIcons {
    color: white;
    display: none;
}

.menuIcons i:nth-child(2){
    display: none;
}

header h2 {
    color: #fff;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li:active {
    transform: scale(.95);
}

.nav-list li a {
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialMedia img {
    padding: 0 5px;
}

.instagram {
    height: 25px;
}

.tweet {
    height: 32px;
}

.facebook {
    height: 26px;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    background: #000;
}

/* Hamburger */

.hamburger {
    display: none;
    position: relative;
    z-index: 1;

    user-select: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 6px;
    z-index: 1;
    transition: .4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background: rgb(25, 25, 185);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background: rgb(25, 25, 185);
}


/* Buttons */

.btn {
    background: rgb(64, 104, 232);
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
}

.btn:hover {
    background: rgb(45, 82, 206);
}

.btn:active {
    transform: scale(.95);
}

/* Home Page  */

.main{

}



/* Donation Page */

.donation {
    height: 90vh;
    text-align: center;
    background: #C8FFD4;
    font-family: 'Josefin Sans';
    display: flex;
    justify-content: center;
    align-items: center;
}

.donateContainer h1 {
    padding-top: 35px;
}

.donateContainer .donateSections {
    background: #b4b0dc;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.donateContainer .donateSections .section {
    margin: 20px 50px;
}

.donateContainer .donateSections .section img {
    width: 210px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .4);
}

/* About Page */

.about-contain {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: #C8FFD4;
}

.about-contain h1 {
    text-align: center;
}

.about-contain img {
    border-radius: 15px;
    border: 4px solid white;
    height: 280px;
}

.about-text {
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
}

.aboutContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.btn-n {
    background: rgb(75, 30, 255);
    color: white;
    padding: 7px 10px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.btn-n:active {
    transform: scale(.95);
}

/* Contact Page */

.contact-us {
    height: 90vh;
    background: #C8FFD4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.contactContent {
    max-width: 100%;
    text-align: center;
}

.contactContent h2 {
    font-size: 36px;
    font-weight: 500;
}

.contactContent p {
    font-weight: 600;
}

.contactContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactContainer .contactInfo {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactContainer .contactInfo .box {
    display: flex;
}
.contactContainer .contactInfo .box .text {
    display: flex;
    font-size: 16px;
    margin-left: 30px;
    flex-direction: column;
}

.contactForm {
    width: 30%;
    padding: 30px;
    border-radius: 15px;
    background: rgb(161, 140, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .7);
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input {
    width: 100%;
    padding: 8px 7px;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    outline: none;
}

#messagehere {
    border: none;
    border-radius: 5px;
    padding: 8px 7px;
    resize: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 8px 10px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    color: #fff;
    border: none;
    padding: 7px;
    font-size: 18px;
    border-radius: 7px;
}

.btn-sm {
    cursor: pointer;
    background: #dc2323;
    width: 100px;
    color: #fff;
    border: none;
    padding: 7px;
    font-size: 15px;
    border-radius: 7px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .5);
}

.btn-sm:active {
    transform: scale(.95);
}

@media (min-width: 320px) and (max-width: 1000px) {

    html {
        overflow-x: hidden;
        position: relative;
    }

    body {
        overflow-x: hidden;
    }
        /* NavBar */

    .nav-list {
        position: absolute;
        right: 0px;
        width: 35%;
        top: 8vh;
        height: 10rem;
        display: flex;
        align-items: center;
        background: #000;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        border-radius: 0 0 0 10px;
        z-index: 99;
    }

    .nav-list li {
        opacity: 0;
    }

    .nav-list li a:hover {
        background: #fff;
        color: #000;
        border-radius: 5px;
        padding: 5px;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navListFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(+45deg) translate(-5px, -6px);

    }

    .socialMedia {
        display: none;
    }


    /* Donation */

    .donation{
        height: 100%;
        margin: 10px 20px;
    }

    .donation .donateSections{
        flex-direction: column;
    }

    /* About */

    .about-contain {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
    }

    .about-contain img {
        height: 240px;
    }

    .aboutContent {
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-us {
        width: 100%;
        padding: 15px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactContainer {
        flex-direction: column;
        width: 100vw;
    }

    .contactForm {
        width: 80%;
    }

    .contactInfo {
        width: 400px;
        margin-bottom: 20px;
    }
}
